# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#vim files
*.swp

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
docs/
game

Makefile
